.navbar {
    background-color: #614EA6;
    height: 5.5rem;
}

.nav-item a {
    color: #FFF;
    transition: .3s ease-in;
}

.nav-item a:hover {
    color: #F21667;
}

.navbar-nav {
    width: 100%;
    justify-content: space-between;
}

@media screen and (max-height: 768px) {
    .nav-item a{
        width: 100%;
    }
}

.input-text {
    border-radius: 6px;
    width: 50vw;
}